@font-face {
  font-family: unica;
  src: url("assets/fonts/NeueHaasUnicaW1G.otf");
}

html,
body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
canvas {
  display: block;
}

#canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
}
#landing {
  font-size: 40px;
}
#landing-mobile {
  display: none;
}
#container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.home-link {
  font-family: unica;
  text-decoration: underline 3px;
  text-underline-offset: 0.1em;
}
.home-link:hover {
  opacity: 50%;
  transition: 0.1s;
}

/* ----------------- */

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 16px;
  width: 98%;
  padding: 0 1%;
  z-index: 5;
}
.nav-btn {
  font-size: 22px;
  border-radius: 100px;
  border: 1px solid black;
  padding: 4px 20px 7px 20px;
  background-color: white;
  font-family: unica;
  text-decoration: none;
  color: black;
}
#gruppo-dx {
  transform: translate(0, 5px);
}
#gruppo-dx .nav-btn {
  margin: 0 0 0 5px;
}
.nav-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.nav-active {
  background-color: black;
  color: white;
}

/* -------------------- */

#lista-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  padding: 0 24px;
}
.riga {
  display: flex;
  flex-direction: column;
}
.fila-copertine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.img-a {
  width: 19%;
}
.img-cover {
  width: 100%;
}
.img-a:hover {
  filter: opacity(70%);
  transition: 0.2s;
  cursor: pointer;
}
.lista-titolo {
  font-size: 30px;
  font-family: unica;
  margin-bottom: 12px;
}
#riga-u {
  margin-top: 24px;
  margin-bottom: 60px;
}

/* ------------- */

#progetto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}
.progetto-testo {
  width: 800px;
  font-size: 24px;
}
#footer {
  font-size: 18px;
  margin-bottom: 30px;
}
#credits {
  font-family: unica;
  display: flex;
  flex-direction: row;
  margin: 50px 0 70px 0;
}
.credits-item {
  flex-basis: 50%;
}
.progetto-testo a {
  font-family: unica;
  text-decoration: underline;
  font-size: 23px;
}

/* ------------- */

#libro-container {
  margin-top: 90px;
  padding: 0 24px;
  display: flex;
}
#libro-cover {
  flex-basis: 33.3%;
  padding-right: 16px;
}
#libro-testo {
  flex-basis: 33.3%;
  padding: 0 8px;
}
#libro-altri {
  flex-basis: 33.3%;
  padding-left: 16px;
}
.libro-img {
  max-height: 85vh;
  max-width: 100%;
}
.titolo {
  margin: 0;
  font-family: unica;
  font-weight: normal;
  line-height: 40px;
  transform: translate(0, -10px);
}
.descrizione {
  font-size: 24px;
  margin: 16px 0 0 0;
}
.links {
  font-family: unica;
  font-size: 22px;
  text-decoration: underline 2px;
  text-underline-offset: 0.1em;
  cursor: pointer;
}
.links a:hover {
  opacity: 50%;
  transition: 0.1s;
}
.links-s {
  color: rgb(230, 122, 0);
}
.links-u {
  color: rgb(30, 126, 236);
}
.capitoli {
  color: black;
  margin-bottom: 8px;
  font-family: unica;
  font-size: 22px;
  text-decoration: none;
}
.altri-links {
  margin-top: 14px;
}
.orange {
  color: rgb(230, 122, 0);
}
.blue {
  color: rgb(30, 126, 236);
}

/* -------------------------------------------------------- */

@media (max-width: 768px) {
  #navbar {
    display: none;
  }
  #landing {
    display: none;
  }
  #landing-mobile {
    display: flex;
    font-size: 40px;
    text-align: center;
  }
}
