/* @font-face {
  font-family: unica;
  src: url("assets/fonts/NeueHaasUnicaW1G.otf");
}
@font-face {
  font-family: helvetica;
  src: url("assets/fonts/helveticaNeue/HelveticaNeue-01.ttf");
} */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1 {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 10px;
}
h2 {
  margin: 0;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
p {
  margin: 0;
  font-size: 20px;
  font-family: serif;
}
a {
  color: inherit;
  text-decoration: none;
}
canvas {
  display: block;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
ol {
  margin: 0;
  counter-reset: item;
}
li {
  display: block;
  content: ".";
}
li::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}
select,
option {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 0;
  margin-bottom: -1px;
  cursor: pointer;
  outline: none;
  background-image: url("assets/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px; /* Adjust size of the arrow */
  padding-right: 36px;
}
.select:after {
  background-image: url(assets/dropdown-arrow.svg);
}

button {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  border-top: 1px solid black;
  margin: 40px 20px 20px 20px;
  justify-content: space-between;
  padding-top: 6px;
  position: relative;
}
footer p {
  font-size: 16px;
  font-family: sans-serif;
}
footer a {
  font-family: sans-serif;
  text-decoration: underline;
}

/* ------------------------- HOME ----------------------- */

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar-container {
  background-color: white;
  /* display: flex; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: auto;
  width: 100%;
}
#navbar-container-mob {
  display: none;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
  border-bottom: 1px solid black;
  margin: 10px 20px 0px 20px;
  background-color: white;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.nav-btn {
  font-size: 20px;
  padding: 8px 12px 8px 12px;
  background-color: white;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  flex-grow: 1;
  border: 1px solid transparent;
  border-bottom: none;
  margin-left: -1px;
}
.nav-btn-app {
  font-size: 20px;
  padding: 8px 12px 8px 12px;
  background-color: white;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  border-bottom: none;
  margin-left: -1px;
}

.active {
  border: 1px solid black;
  border-bottom: none;
  z-index: 6;
}

.nav-btn:hover {
  border: 1px solid black;
  border-bottom: none;
  z-index: 7;
}

#container-home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#canvas {
  position: absolute;
  z-index: -1;
}
#gradient {
  position: absolute;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  width: 100%;
  height: 100px;
  bottom: 0px;
}
#landingText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#landingTitle {
  font-family: sans-serif;
  font-size: 40px;
  /* margin: 41px 20px 0px 20px; */
  /* padding: 100px 0px; */
  text-align: center;
}
#landingSub {
  font-size: 32px;
  /* margin: 41px 20px 0px 20px; */
  /* padding: 100px 0px; */
  text-align: center;
}
#landing-wrap {
  display: flex;
  position: relative;
  width: 100%;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#landing-mobile {
  display: none;
}
.home-link {
  font-family: sans-serif;
  text-decoration: underline 3px;
  text-underline-offset: 0.2em;
}
.home-link:hover {
  opacity: 50%;
  transition: 0.1s;
}
.home-content {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 0 20px;
  flex-grow: 1;
  z-index: 3;
  border-top: 1px solid black;
  /* padding-top: 8px; */
  /* gap: 20px; */
}
.home-content-item {
  border: 1px solid transparent;
  display: flex;
  padding: 16px 14px;
  flex: 1;
  margin-top: -1px;

  /* height: 250px; */
}
.home-content-item:hover {
  border: 1px solid black;
}
.home-content-item-half {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.thumb-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.thumb {
  max-height: 240px;
  min-width: 50px;
}

/* -------------------- LISTA ------------------- */

.page-container {
  flex: 1;
  margin: 60px 20px 20px 20px;
}
.title-block {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.title {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  flex: 1;
}
.desc {
  flex: 1;
  padding-bottom: 16px;
}
.riga-mob {
  display: none;
}

#lista-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.riga {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}
.fila-copertine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.img-a {
  width: 19%;
}
.img-cover {
  width: 100%;
}
.img-a:hover {
  filter: opacity(70%);
  transition: 0.2s;
  cursor: pointer;
}
.lista-titolo {
  font-size: 20px;
  font-family: sans-serif;
  margin: 6px 0 20px 0;
  font-weight: 400;
}
#riga-u {
  margin-top: 24px;
}

/* ------------------------- INFO ---------------------- */

#progetto-container {
  display: flex;
  margin-top: 65px;
  padding: 0 24px;
  flex: 1;
}
.progetto-testo {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  font-size: 20px;
  padding-right: 18px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.progetto-testo::-webkit-scrollbar {
  display: none;
}
#credits {
  font-family: serif;
  flex-direction: row;
  padding: 0 9px;
  font-size: 20px;
  flex-basis: 25%;
}
#contatti {
  flex-basis: 25%;
  font-family: sans-serif;
  padding-left: 18px;
  font-size: 20px;
}
#contatti a {
  text-decoration: underline 1px;
  text-underline-offset: 0.2em;
}
#contatti a:hover {
  opacity: 50%;
  transition: 0.1s;
}

.credits-item {
  flex-basis: 50%;
  margin-bottom: 24px;
}
.progetto-testo a {
  font-family: sans-serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
}
.progetto-testo a:hover {
  opacity: 0.4;
}
.sottotitolo {
  margin-bottom: 10px;
}

/* -------------------- PAGINA LIBRO ------------------- */

#libro-container {
  margin: 64px 20px 20px 20px;
  display: flex;
  gap: 20px;
}
#libro-cover {
  flex-basis: 33.3%;
}
.titolo-libro {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  flex: 1;
}

#libro-testo {
  flex-basis: 66.67%;
  padding-bottom: 40px;
  overflow-y: scroll;
}
#libro-testo::-webkit-scrollbar {
  display: none;
}

.libro-img {
  max-height: 90vh;
  max-width: 100%;
}
.libro-top {
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-between;
}
.titolo {
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 40px;
  transform: translate(0, -10px);
}
.links {
  font-family: sans-serif;
  font-size: 22px;
  text-decoration: underline 2px;
  text-underline-offset: 0.2em;
  cursor: pointer;
}
.links a:hover {
  opacity: 50%;
  transition: 0.1s;
}
.links-s {
  color: rgb(230, 122, 0);
}
.links-u {
  color: rgb(30, 126, 236);
}
.altri-links {
  margin-top: 14px;
}
.orange {
  color: rgb(230, 122, 0);
}
.blue {
  color: rgb(30, 126, 236);
}
.button {
  width: fit-content;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 8px 12px;
  border: 1px solid black;
}
.button:hover {
  background-color: black;
  color: white;
  font-weight: 100;
}

.libro-descrizione {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  border-top: 1px solid black;
  margin-top: 12px;
  padding-top: 8px;
}
.libro-info {
  flex-basis: 50%;
}
.downloadPart {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 16px;
}
.downloadPart a {
  font-family: sans-serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}
.s a:hover {
  color: #ff7a00;
}
.s li:hover {
  color: #ff7a00;
}
.u a:hover {
  color: rgb(30, 126, 236);
}
.u li:hover {
  color: rgb(30, 126, 236);
}

.downloadPart h2 {
  padding-bottom: 2px;
}

.ol-main {
  padding-left: 0px;
  line-height: 1.4em;
  font-family: sans-serif;
}
.ol-main li {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}
.ol-indent {
  padding-left: 24px;
}

.appunti-wrap {
  display: flex;
  flex-wrap: nowrap;
}
.nav-select {
  margin-left: -1px;
  z-index: 5;
}
.numero {
  width: 41px;
  display: flex;
  justify-content: center;
}
.num-active-u {
  background-color: #00a3ff;
}
.num-active-s {
  background-color: #ff7a00;
}
.years {
  display: flex;
  flex-direction: row;
}
.years button.attivo.umanistico {
  background-color: #00a3ff;
}
.years button.attivo.scientifico {
  background-color: #ff7a00;
}

.fila-risorse {
  justify-content: flex-start;
  gap: 10px;
}

/* --------------------------------------------------------------- */
/* ---------------------------- PHONE ---------------------------- */
/* --------------------------------------------------------------- */

@media (max-width: 600px) {
  /* ------------------------- HOME ----------------------- */
  h1 {
    font-size: 28px;
  }

  select {
    color: black;
    background-color: white;
    border: 1px solid black;
  }

  footer {
    flex-direction: column;
    gap: 20px;
  }

  #navbar-container {
    display: none;
  }
  #navbar-container-mob {
    display: block;
    background-color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 4;
    height: auto;
  }
  .navbar-mob {
    z-index: 5;
    margin: 14px 14px 0px 14px;
    background-color: white;
    flex-grow: 1;
  }
  .nav-select {
    width: 100%;
    margin: 0;
    margin-bottom: -1px;
  }

  .home-content {
    flex-direction: column;
    height: auto;
    gap: unset;
    margin: 0 14px;
  }
  #landing {
    font-size: 32px;
  }
  .home-content-item {
    flex-direction: column;
    padding: 10px 0 18px 0;
    border: 1px solid black;
  }
  #home-content-item-half-last {
    margin-top: -1px;
  }
  .home-content-item-half {
    text-align: center;
  }
  .thumb-desc {
    display: none;
  }
  /* ------------------------- APPUNTI LISTA ----------------------- */

  .page-container {
    margin: 60px 0px 0px 0px;
  }

  #lista-container {
    width: 100%; /* Adjust as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
    display: flex;
    justify-content: start;
    gap: 16px;
  }
  .fila-copertine {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 14px;
    overflow-x: scroll;
    gap: 10px;
  }

  .riga {
    width: 100%;
    overflow: visible;
    border: none;
  }
  .riga-mob {
    display: block;
    height: 1px;
    flex: 1;
    border-top: 1px solid black;
    margin: 0 14px;
  }
  #riga-u {
    margin: 0;
  }
  .img-a {
    flex: 0 0 auto;
    width: 160px; /* Set image width */
    height: auto; /* Maintain aspect ratio */
  }
  .title-block {
    margin: 0px 14px;
    /* display: none; */
  }
  .title {
    display: none;
  }
  .desc {
    padding-top: 8px;
  }
  .lista-titolo {
    padding: 6px 0px 14px 0;
    margin: 0 14px;
  }

  /* ------------------------- INFO ----------------------- */

  #progetto-container {
    flex-direction: column;
    padding: 0 14px;
  }
  .progetto-testo {
    padding: 0;
  }
  #credits {
    padding: 0;
  }
  #contatti {
    padding: 0;
    margin-bottom: 100px;
  }

  /* ------------------------- PAGINA LIBRO ----------------------- */

  .secondaryNav-mob {
    margin: 0 !important;
  }
  .navbar-mob-wrap {
    display: flex;
    flex-direction: row;
    margin: 0 14px;
  }
  #navSelect-2 {
    border-right: none;
  }
  .secondaryNav-mob {
    width: 50%;
  }
  .active {
    border-bottom: 1px solid black;
  }
  .numero {
    width: 40px;
    height: 40px;
  }
  #navSelect-2 {
    height: 40px;
  }
  #navbar-mob-2 {
    flex-grow: 1;
  }

  #libro-container {
    flex-direction: column;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 110px;
  }
  #libro-cover {
    flex-basis: auto;
    display: flex;
    justify-content: center;
  }
  .libro-img {
    width: 270px;
    height: auto;
  }
  .libro-top {
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    height: unset;
  }
  .libro-titolo {
    margin-bottom: 10px;
  }
  .button {
    margin-bottom: 10px;
  }
  .libro-descrizione {
    flex-direction: column;
  }
}
