@font-face {
  font-family: unica;
  src: url("assets/fonts/NeueHaasUnicaW1G.otf");
}
@font-face {
  font-family: helvetica;
  src: url("assets/fonts/helveticaNeue/HelveticaNeue-01.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  font-family: helvetica;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 10px;
}
h2 {
  margin: 0;
  font-size: 20px;
  font-family: helvetica;
  font-weight: 400;
  margin-bottom: 10px;
}
p {
  margin: 0;
  font-size: 20px;
  font-family: serif;
}
a {
  color: inherit;
  text-decoration: none;
}
canvas {
  display: block;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
ol {
  margin: 0;
  padding-left: 20px;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 0;
  margin-bottom: -1px;
  cursor: pointer;
  outline: none;
  background-image: url("assets/dropdown-arrow.svg"); /* Path to your custom arrow */
  background-repeat: no-repeat;
  background-position: right 12px center; /* Adjust position as needed */
  background-size: 18px; /* Adjust size of the arrow */

  padding-right: 36px; /* Ensures space for the custom arrow */
}
.select:after {
  background-image: url(assets/dropdown-arrow.svg);
}

button {
  cursor: pointer;
}

/* ------------------------- HOME ----------------- */

#navbar-container {
  background-color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 4;
  height: auto;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
  border-bottom: 1px solid black;
  margin: 10px 20px 0px 20px;
  background-color: white;
}
.nav-btn {
  font-size: 20px;
  padding: 8px 12px 8px 12px;
  background-color: white;
  font-family: helvetica;
  text-decoration: none;
  color: black;
  flex-grow: 1;
  border: 1px solid transparent;
  border-bottom: none;
  margin-left: -1px;
}
.nav-btn-app {
  font-size: 20px;
  padding: 8px 12px 8px 12px;
  background-color: white;
  font-family: helvetica;
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  border-bottom: none;
  margin-left: -1px;
}

.active {
  border: 1px solid black;
  border-bottom: none;
  z-index: 6;
}

.nav-btn:hover {
  border: 1px solid black;
  border-bottom: none;
  z-index: 7;
}

#container-home {
  display: flex;
  flex-direction: column;
}

#canvas {
  position: absolute;
  z-index: -1;
}
#gradient {
  position: absolute;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  width: 100%;
  height: 100px;
  bottom: 0px;
}
#landing {
  font-size: 40px;
  margin: 41px 20px 0px 20px;
  padding: 100px 0px;
}
#landing-wrap {
  display: flex;
  position: relative;
  width: 100%;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
#landing-mobile {
  display: none;
}
.home-link {
  font-family: helvetica;
  text-decoration: underline 3px;
  text-underline-offset: 0.1em;
}
.home-link:hover {
  opacity: 50%;
  transition: 0.1s;
}
.home-content {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 0 20px;
  flex-grow: 1;
  z-index: 5;
}
.home-content-item {
  border: 1px solid transparent;
  display: flex;
  padding: 8px 14px;
  /* height: 250px; */
}
.home-content-item:hover {
  border: 1px solid black;
}
.home-content-item-half {
  flex-basis: 50%;
}

.thumb-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb {
  max-height: 240px;
}

/* -------------------- LISTA ------------------- */

.page-container {
  margin: 60px 20px 20px 20px;
}

.title {
  font-family: helvetica;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}
.title-block {
  height: 100px;
}

#lista-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.riga {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}
.fila-copertine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.img-a {
  width: 19%;
}
.img-cover {
  width: 100%;
}
.img-a:hover {
  filter: opacity(70%);
  transition: 0.2s;
  cursor: pointer;
}
.lista-titolo {
  font-size: 20px;
  font-family: helvetica;
  margin: 6px 0 20px 0;
  font-weight: 400;
}
#riga-u {
  margin-top: 24px;
  margin-bottom: 60px;
}

/* ------------------------- INFO ---------------------- */

#progetto-container {
  display: flex;
  margin-top: 65px;
  padding: 0 24px;
}
.progetto-testo {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  font-size: 20px;
  padding-right: 18px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.progetto-testo::-webkit-scrollbar {
  display: none;
}
#credits {
  font-family: serif;
  flex-direction: row;
  padding: 0 9px;
  font-size: 20px;
  flex-basis: 25%;
}
#contatti {
  flex-basis: 25%;
  font-family: helvetica;
  padding-left: 18px;
  font-size: 20px;
}
#contatti a {
  text-decoration: underline 2px;
  text-underline-offset: 0.1em;
}
#contatti a:hover {
  opacity: 50%;
  transition: 0.1s;
}
#footer {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#footer a {
  font-family: serif;
  text-underline-offset: 0.1em;
}

.credits-item {
  flex-basis: 50%;
  margin-bottom: 24px;
}
.progetto-testo a {
  /* font-family: helvetica; */
  text-decoration: underline;
}
.sottotitolo {
  margin-bottom: 10px;
}

/* -------------------- PAGINA LIBRO ------------------- */

#libro-container {
  margin: 64px 20px 20px 20px;
  display: flex;
  gap: 20px;
}
#libro-cover {
  flex-basis: 33.3%;
}
#libro-testo {
  flex-basis: 66.67%;
  padding-bottom: 40px;
  overflow-y: scroll;
}
#libro-testo::-webkit-scrollbar {
  display: none;
}

.libro-img {
  max-height: 100vh;
  max-width: 100%;
}
.libro-top {
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: space-between;
}
.button {
  width: fit-content;
}
.titolo {
  margin: 0;
  font-family: helvetica;
  font-weight: normal;
  line-height: 40px;
  transform: translate(0, -10px);
}
.links {
  font-family: helvetica;
  font-size: 22px;
  text-decoration: underline 2px;
  text-underline-offset: 0.1em;
  cursor: pointer;
}
.links a:hover {
  opacity: 50%;
  transition: 0.1s;
}
.links-s {
  color: rgb(230, 122, 0);
}
.links-u {
  color: rgb(30, 126, 236);
}
.altri-links {
  margin-top: 14px;
}
.orange {
  color: rgb(230, 122, 0);
}
.blue {
  color: rgb(30, 126, 236);
}
.button {
  font-family: helvetica;
  font-weight: 400;
  font-size: 20px;
  padding: 8px 12px;
  border: 1px solid black;
}
.button:hover {
  background-color: black;
  color: white;
  font-weight: 100;
}

.libro-descrizione {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  border-top: 1px solid black;
  margin-top: 12px;
  padding-top: 8px;
}
.libro-info {
  flex-basis: 50%;
}
/* .descrizione {
  margin-top: 10px;
} */
.capitoli {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
/* .capitoli-lista {
  margin-top: 10px;
} */
.appunti-wrap {
  display: flex;
  flex-wrap: nowrap;
}
.nav-select {
  margin-left: -1px;
  z-index: 5;
}
.numero {
  width: 41px;
  display: flex;
  justify-content: center;
}
.num-active-u {
  background-color: #00a3ff;
}
.num-active-s {
  background-color: #ff7a00;
}
.years {
  display: flex;
  flex-direction: row;
}
.years button.attivo.umanistico {
  background-color: #00a3ff;
}
.years button.attivo.scientifico {
  background-color: #ff7a00;
}

.fila-risorse {
  justify-content: flex-start;
  gap: 10px;
}

/* --------------------------------------------------------------- */
/* ---------------------------- PHONE ---------------------------- */
/* --------------------------------------------------------------- */

@media (max-width: 768px) {
}
